@import url('https://fonts.googleapis.com/css?family=Indie Flower');
body {
	font-family: "Indie Flower";
	background-image: url("http://www.color-hex.com/palettes/13735.png");
}
div.simple {
	background: mistyrose;
	width: 300px;
	border: 25px;
	padding: 25px;
	margin: 25px;
	color: darksalmon;
}
h2 {
	color: salmon;
	margin-left: 40px;
}
#special {
	color: steelblue;
}